<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= @applicant.name %></h1>
          <p class="card-text"><strong>Email:</strong> <%= @applicant.email %></p>
        </div>
      </div>
    </div>
  </div>
</div>
