<div class="container">
  <h1>About Us</h1>
  <p>This is the about page of our Rails application.</p>
  <p>We'll use Faker gem to generate fake data for a job board platform. We'll have tables for Job Listings,
    Companies, and Applicants. Job Listings will have a one-to-many relationship with Companies, and Applicants
    will have a many-to-many relationship with Job Listings.</p>
  <p>This app will show the data of various job postings and the company name
    and also the name and email of the applicants that have applied to the job posting.</p>
  <h3> There will be three tables in the database which are as following:</h3>
  <ul>
    <li><h5>job_listings</h5></li>
    <li>id</li>
    <li>title</li>
    <li>description</li>
    <li>company_id</li>
  </ul>
  <ul>
    <li><h5>companies</h5></li>
    <li>id</li>
    <li>name</li>
    <li>industry</li>
  </ul>
  <ul>
  <li><h5>applicants</h5></li>
  <li>id</li>
  <li>name</li>
  <li>emai</li>
  </ul>
</div>
